.vscode

# atlantos-qc files
/atlantos_qc/_version.py
/atlantos_qc_js/node_modules
/atlantos_qc_js/dist
/atlantos_qc_js/src/browser
/atlantos_qc_js/.yarn
/atlantos_qc_js/.pnp*
/atlantos_qc_js/.yarn*
/bokeh
/csv_examples
/env

# folders for buildings
/build
/dist
/releases

/pack_old
/tests

!/.gitignore

# temp files
*~
.*~

# compiled and compressed files
*.egg-info
*.pyc
*.rar

# log files
*.log

# locked files creted by yarn and npm
*.lock

# links
*.lnk